.container {
    display: flex;
    justify-content: space-around;
}
.grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.map{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}