.card2 {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 160px;
    background: rgba(128, 128, 128, 0.877);
    border: 3px solid black;
    border-radius: 15px;
    margin: 2em;
}

.card2:hover {
    background-color: gray;
    transition: 0.7s;
}

.name {
    color: rgb(90, 83, 83);
    text-decoration: none;
}

.align {
    font-size: 15px;
    align-items: center;
}

.list-item {
    margin: 0;
    display: flex;
    height: 100%;
    width: auto;
    align-items: center;
}

.h32 {
    font-size: 15px;
    align-items: center;
}

.temperature {
    display: flex;
    background: rgb(167, 167, 228);
    border-radius: 15px;
    justify-content: space-around;
    align-items: center;
}

.btn {
    background: red;
    border-radius: 10px;
    width: 30px;
    align-self: flex-end;
}

.btnwhite {
    color: white;
}

.btn:hover {
    background-color: gray;
    border-radius: 10px;
}