

.icoUno{
    display: flex;
    justify-content: space-around; 
    margin-top: 5%;
   text-align: center;
}

.pictures{
   display: flex;
   justify-content: space-around;   
}
h5{
    margin-top: -1%;
    font-family: 'Raleway', sans-serif;
}

.descr{
    margin-left: 2%;
}

.houserules{
    display: flex;
    justify-content: space-around;
    margin-top: -1%;
    text-align: center;
    }

.Amenities{
        display: flex;
        justify-content: space-around;
        margin-top: -1%;
        text-align: center;
        }
h1{
    font-family: 'Raleway', sans-serif;
    text-align: center;
}

h3{
    font-family: 'Raleway', sans-serif;
}

h2{
    font-family: 'Raleway', sans-serif;
}