

.items {
    display: flex;
    background-color: rgba(255, 255, 255, 0.849);
    height: 5.2em;
    justify-content: space-between;
    align-items: center;
}

.Buttoms{
    margin-right: 2em;
    cursor: pointer;
}

